@import "tailwindcss";
@source "../../../**/templates/**/*.html";
@plugin "daisyui" {
    themes: wireframe, dark, light;
}
@theme {
    --breakpoint-tablet: 40rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;
}